#div1{
  font-size:25px;
  margin:40px 0 0 20px;
  float:left;
}
#txt1{
  width:100px;
  height:30px;

  margin:40px 20px 0 10px;

  font-size:25px;
  background:#cccccc;
  text-align:center;
  float:left;
}


#btn1{
  height:30px;
  background:#666;
  color:white;
  border:none;
  font-family:'Ώ¬Με';
  font-size:15px;
  font-weight:bold;
  margin-left:5px;
  margin-top:40px;
}

#btn2{
  height:30px;
  background:#666;
  color:white;
  border:none;
  font-family:'Ώ¬Με';
  font-size:15px;
  font-weight:bold;
  margin-left:5px;
  margin-top:40px;
}

